* {
  box-sizing: border-box;
  background-color: #ddecec;
}

main {
  padding-bottom: 80px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: #109090;
  padding: 24px;
}

h1 {
  background-color: #109090;
  font-size: 2rem;
  color: white;
}

.containerQuestionCards {
  padding: 0 16px;
}

.questionCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
  background-color: #bbd9d9;
  border: black solid;
  border-radius: 4px;
  margin: 40px 20px;
  padding: 20px 10px;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  background-color: #bbd9d9;
  text-align: center;
}

.answerButton {
  align-self: center;
  width: fit-content;
  padding: 12px;
  border: #000000 solid;
  border-radius: 4px;
  background-color: #109090;
  font-size: 1.2rem;
}

button:hover {
  background-color: #1a5e5e;
  color: white;
  transition: 0.5s;
}

.categoryTags {
  display: flex;
  gap: 8px;
  padding: 16px;
  background-color: #bbd9d9;
}

.categoryTags li {
  align-self: flex-start;
  width: fit-content;
  list-style: none;
  border: black solid;
  background-color: lightgray;
  padding: 4px;
  border-radius: 4px;
  font-size: 1.1rem;
}

.bookmarkButton {
  width: fit-content;
  padding: 12px;
  border: #000000 solid;
  border-radius: 4px;
  background-color: #109090;
  font-size: 1.2rem;
}

.bookmarkIcon {
  position: absolute;
  top: -16px;
  right: 20px;
  height: 35px;
  width: 35px;
  background: linear-gradient(to bottom, #ddecec, #bbd9d9);
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #109090;
}

.breadcrumbs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #109090;
  padding: 0;
  margin: 0;
}

i {
  color: white;
  background-color: #109090;
  font-size: 60px;
  padding: 15px;
}

i:active {
  background-color: #1a5e5e;
}

.iconLink {
  background-color: #109090;
  color: #109090;
  text-align: center;
}

.activeIconLink i {
  color: #194746;
  background-color: #bbd9d9;
}
