* {
  box-sizing: border-box;
  margin: auto;
  font-size: 1.3rem;
  background-color: lightgray;
}

.header {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  padding: 24px;
}

h1 {
  background-color: aquamarine;
}

.questionCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
  background-color: gray;
  border: black solid;
  border-radius: 4px;
  margin: 40px;
  padding: 30px;
}

p {
  background-color: gray;
  text-align: center;
}

.categoryTags {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  background-color: gray;
}

.categoryTags span {
  border: black solid;
  padding: 4px;
  border-radius: 4px;
  font-size: 1.1rem;
}

button {
  border: #000000 solid;
  border-radius: 4px;
  background-color: aquamarine;
  font-size: 1.1rem;
  padding: 12px;
}

button:hover {
  background-color: aqua;
}

.bookmarkIcon {
  position: absolute;
  top: -16px;
  right: 20px;
  height: 35px;
  width: 35px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
}

li {
  background-color: aquamarine;
}

.breadcrumbs {
  list-style: none;
  background-color: aquamarine;
}

i {
  color: black;
  background-color: aquamarine;
  font-size: 75px;
  padding: 15px;
}

.icon-link {
  background-color: aquamarine;
  color: aquamarine;
}
